#level-1 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


#level-2 {

    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns and 3 lines */
    grid-template-rows: repeat(3, 1fr); /* 3 rows and 4 lines */
}

.peas2 {
        grid-column: 1;
        grid-column-end:3;
        grid-row: 1;
        grid-row-end:2;
}

.onions2 {
        grid-column: 1;
        grid-column-end:2;
        grid-row: 2;
        grid-row-end: 3;
}

.tomatoes2 {
        grid-column: 2;
        grid-column-end:3;
        grid-row: 2;
        grid-row-end: 3;
}






#level-3 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns and 4 lines */
    grid-template-rows: repeat(3, 1fr); /* 3 rows and 4 lines */
}

.peas3 {
        grid-column: 1;
        grid-column-end:2;
        grid-row: 1;
        grid-row-end:2;
}

.onions3 {
        grid-column: 2;
        grid-column-end:4;
        grid-row: 1;
        grid-row-end: 2;
}

.tomatoes3 {
        grid-column: 1;
        grid-column-end:3;
        grid-row: 2;
        grid-row-end: 3;
}
.lettuce3 {
        grid-column: 3;
        grid-column-end:4;
        grid-row: 2;
        grid-row-end:3;
}
.carrots3 {
        grid-column: 1;
        grid-column-end:4;
        grid-row: 3;
        grid-row-end:4;
}




#level-4 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns and 3 lines */
    grid-template-rows: repeat(2, 1fr); /* 2 rows and 3 lines */
}

.peas4 {
        grid-column: 1;
        grid-column-end:3;
        grid-row: 1;
        grid-row-end:2;
}

.onions4 {
        grid-column: 3;
        grid-column-end:4;
        grid-row: 1;
        grid-row-end: 3;
}

.tomatoes4 {
        grid-column: 1;
        grid-column-end:2;
        grid-row: 2;
        grid-row-end: 3;
}
.lettuce4 {
        grid-column: 2;
        grid-column-end:3;
        grid-row: 2;
        grid-row-end:3;
}
.carrots4 {
        grid-column: 4;
        grid-column-end:5;
        grid-row: 1;
        grid-row-end:3;
}




#level-5 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5 columns and 6 lines */
    grid-template-rows: repeat(3, 1fr); /* 3 rows and 4 lines */
}

.peas5 {
        grid-column: 4;
        grid-column-end:6;
        grid-row: 2;
        grid-row-end:3;
}

.onions5 {
        grid-column: 3;
        grid-column-end:4;
        grid-row: 1;
        grid-row-end: 3;
}

.tomatoes5 {
        grid-column: 2;
        grid-column-end:5;
        grid-row: 3;
        grid-row-end: 4;
}
.lettuce5 {
        grid-column: 5;
        grid-column-end:6;
        grid-row: 1;
        grid-row-end:2;
}
.carrots5 {
        grid-column: 1;
        grid-column-end:2;
        grid-row: 1;
        grid-row-end:4;
}






#level-6 {

    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns and 6 lines */
    grid-template-rows: repeat(4, 1fr); /* 4 rows and 5 lines */
}

.peas6 {
        grid-column: 2;
        grid-column-end:5;
        grid-row: 2;
        grid-row-end:4;
}

.onions6 {
        grid-column: 1;
        grid-column-end:2;
        grid-row: 2;
        grid-row-end: 4;
}

.tomatoes6 {
        grid-column: 5;
        grid-column-end:6;
        grid-row: 2;
        grid-row-end: 4;
}
.lettuce6 {
        grid-column: 1;
        grid-column-end:6;
        grid-row: 4;
        grid-row-end:5;
}
.carrots6 {
        grid-column: 1;
        grid-column-end:6;
        grid-row: 1;
        grid-row-end:2;
}




#level-7 {

    display: grid;
    grid-template-columns: repeat(5, minmax(5ch, 1fr)); /* 5 columns and 6 lines */
    grid-template-rows: repeat(1, 1fr);
}



#level-8 {

    display: grid;
    grid-template-columns: repeat(auto-fit, 15ch); /* 5 columns and 6 lines */
    grid-auto-rows: 5ch;
}




#level-9 {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); /* 5 columns and 6 lines */
    grid-auto-rows: 5rem;
}

